{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>OJAS</title>
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/renewable.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@700&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet"> 
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #24bbcf;
      text-align: left;
      font-size: 1.5rem;
      padding: 1rem;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
</head>
<body>

    <section id="backgrenew">
        <nav>
            <div id="brandrenew">
                <li><a href="{% url 'home' %}">OJAS</a></li>
            </div>
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'complaint' %}">Complaint</a></li>
                <li><a href="{% url 'renewable' %}">Renewable Energy</a></li>
                <li><a href="{% url 'register' %}">Register Complaint</a></li>
                <li><a href="{% url 'bill' %}">Electricity Bill</a></li>
            </ul>
        </nav>
</section>
<br>
<div class="title">Solar Energy</div>
<div id="inp">
    <form  method="POST">
        {% csrf_token %}
        {{ form.Cityname }}
        {{ form.wattage }}
        <button type="submit">Add</button>
    </form>
</div>
<br>
<div class="container">
    <!-- <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0" style="font-size: 1.6rem;">City Name</h6>
                </div>
                <div class="col-sm-8 text-secondary" style="font-size: 1.2rem;">
                    {{ weather_data.city }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0" style="font-size: 1.6rem;"> Daylight</h6>
                </div>
                <div class="col-sm-8 text-secondary" style="font-size: 1.2rem;">
                    {{ weather_data.average }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0" style="font-size: 1.6rem;"> Wattage </h6>
                </div>
                <div class="col-sm-8 text-secondary" style="font-size: 1.2rem;">
                    {{ weather_data.wattage }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0" style="font-size: 1.6rem;">Power</h6>
                </div>
                <div class="col-sm-8 text-secondary" style="font-size: 1.2rem;">
                    {{ weather_data.power }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0" style="font-size: 1.6rem;">Tilt Angle</h6>
                </div>
                <div class="col-sm-8 text-secondary" style="font-size: 1.2rem;">
                    {{ weather_data.TA }}
                </div>
            </div>
        </div>
    </div>     -->
    <table>
        <tr>
        <th>City Name</th>
        <th>Daylight</th>
        <th>Wattage</th>
        <th>Power</th>
        <th>Tilt Angle</th>
        </tr>
        <tr>
        <td>{{ weather_data.city }}</td>
        <td>{{ weather_data.average }}</td>
        <td>{{ weather_data.wattage }}</td>
        <td>{{ weather_data.power }}</td>
        <td>{{ weather_data.TA }}</td>
        </tr>
    </table>
</div>
<!-- <div class="title">Wind Energy</div>
<div id="inp">
    <form  method="POST">
        {% csrf_token %}
        
        <button type="submit">Add</button>
    </form>
</div>
<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0" style="font-size: 1.6rem;">City Name</h6>
                </div>
                <div class="col-sm-8 text-secondary" style="font-size: 1.2rem;">
                    {{ weather_data.city }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0" style="font-size: 1.6rem;"> Daylight</h6>
                </div>
                <div class="col-sm-8 text-secondary" style="font-size: 1.2rem;">
                    {{ weather_data.average }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0" style="font-size: 1.6rem;"> Wattage </h6>
                </div>
                <div class="col-sm-8 text-secondary" style="font-size: 1.2rem;">
                    {{ weather_data.wattage }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0" style="font-size: 1.6rem;">Power</h6>
                </div>
                <div class="col-sm-8 text-secondary" style="font-size: 1.2rem;">
                    {{ weather_data.power }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="mb-0" style="font-size: 1.6rem;">Tilt Angle</h6>
                </div>
                <div class="col-sm-8 text-secondary" style="font-size: 1.2rem;">
                    {{ weather_data.TA }}
                </div>
            </div>
        </div>
    </div>
</div>     -->
<!-- {{weather_data}} -->
<div style="margin-top: 60px;"></div>
</body>
</html>